body{
    background-color: black;
    border: 5px solid violet;
    height: 100%;
    padding: 0;
    margin: 0;
}

h1{
    color: lightgreen;
    background: violet;
    cursor:pointer;   
}

html{
    height: 100%;
    padding: 0;
    margin: 0;
}

h2{
    color: white;
    background-color: violet;
}
p{
    color: rgb(20, 44, 150);
}
